DJANGO_ENV=production
DJANGO_DEBUG=0
DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_ALLOWED_HOSTS=stud-hab.pp.ua,www.stud-hab.pp.ua,51.21.231.122
DJANGO_CORS_ALLOWED_ORIGINS=https://stud-hab.pp.ua,https://www.stud-hab.pp.ua
DJANGO_CSRF_TRUSTED_ORIGINS=https://stud-hab.pp.ua,https://www.stud-hab.pp.ua
POSTGRES_DB=studhub
POSTGRES_USER=studhub
POSTGRES_PASSWORD=replace-with-a-strong-password
POSTGRES_HOST=db
POSTGRES_PORT=5432
